<h1>Genre Form</h1>
<%= form_for(@genre) do |f| %>
  <label>Name:</label><br>
  <%= f.text_field :name %><br>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= f.submit "Create Genre" %>
<% end %>